.header {
  height: 70px;
  border-bottom: solid 1px gainsboro;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* 搜索框组件样式 */
/* .searchInputWrapper {
  margin-left: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  color: rgb(133, 133, 133);
} */
.input{
  height: 36px;
  margin-right: 10px;
  width: 100%;
}